body{
    background-color: skyblue;
    text-align: center;
    
}

#Name{
    margin-left: 7%;
}
#Qualification{
    margin-left: 3.5%;
}
#Age{
    margin-left: 8%;
}
#Phone{
    margin-left: 7%;
}
#Email{
    margin-left: 7%;
}
#image{
    margin-left: 1%;
}
